@model ConciergeV1.Models.SPA_Servicios

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Servicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomSer)
        </dd>

        <dt>
            @Html.DisplayName("Descripción:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesSer)
        </dd>

        <dt>
            @Html.DisplayName("Duración:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurSer)
        </dd>
        <dt>
            @Html.DisplayName("Precio:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreSer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CodSer.Trim() }) |
    @Html.ActionLink("Regresar atrás", "Index")
</p>
