@model IEnumerable<ConciergeV1.Models.SPA_Servicios>

@{
    ViewBag.Title = "Index";
}

<h2>Servicios</h2>

<p>
    @Html.ActionLink("Agregar nuevo registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th>
            @Html.DisplayName("Descripción")
        </th>
        <th>
            @Html.DisplayName("Duración")
        </th>
        <th>
            @Html.DisplayName("Precio")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NomSer)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DesSer)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DurSer)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PreSer)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.CodSer.Trim() }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.CodSer.Trim() }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.CodSer.Trim() })
    </td>
</tr>
}

</table>
