@model ConciergeV1.Models.SPA_Salas

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar registro</h2>

<h3>¿Esta seguro que desea eliminar el registro?</h3>
<div>
    <h4>Sala</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Descripción:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesSala)
        </dd>

        <dt>
            @Html.DisplayName("Caracteristicas:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarSala)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar atrás", "Index")
        </div>
    }
</div>
