@model ConciergeV1.Models.SPA_Salas

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Sala</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Descripción:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesSala)
        </dd>

        <dt>
            @Html.DisplayName("Caracteristicas:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarSala)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CodSala.Trim() }) |
    @Html.ActionLink("Regresar atrás", "Index")
</p>
