@model ConciergeV2.Models.SPA_Encabezado_Reserva

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    tr.error {
        background-color: rgba(255,0,0,0.35);
    }
</style>

<section class="content-header">
    <h2>Nuevo registro</h2>
</section>


<div class="content container-fluid">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Encabezado reserva spa</h4>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="container">
                <div class="form-group">
                    @Html.LabelFor(model => model.FecReg, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" id="FecReg" name="FecReg" class="form-control" value="@(DateTime.Now.ToShortDateString())" autocomplete="off" readonly="readonly" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <div class="col-md-12">
                            <label class="control-label">Buscar huesped</label>
                            <br />
                            <input type="text" id="Nombre" name="Nombre" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.ReservaOpera, htmlAttributes: new { @class = "control-label" })
                            <br />
                            @Html.EditorFor(model => model.ReservaOpera, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.ReservaOpera, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Checkin, htmlAttributes: new { @class = "control-label" })
                            <br />
                            @Html.EditorFor(model => model.Checkin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Checkin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Checkout, htmlAttributes: new { @class = "control-label" })
                            <br />
                            @Html.EditorFor(model => model.Checkout, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Checkout, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.NomHuesped, htmlAttributes: new { @class = "control-label" })
                            <br />
                            @Html.EditorFor(model => model.NomHuesped, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" } })
                            <span class="error">Debe seleccionar nombre de persona que reservo</span>
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                            <br />
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.NumRoom, htmlAttributes: new { @class = "control-label" })
                            <br />
                            @Html.EditorFor(model => model.NumRoom, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.NumRoom, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.UsrReg, htmlAttributes: new { @class = "control-label" })
                            <br />
                            <input type="text" id="UsrReg" name="UsrReg" class="form-control" readonly="readonly" value="@if (Session["UserName"] != null){@Session["UserName"].ToString()}" />
                            @*@Html.ValidationMessageFor(model => model.FecReg, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>
                @*<div class="row">

                        <div class="col-sm-4 form-group"></div>
                        <div class="col-sm-4 form-group"></div>
                    </div>
                    <div class="row">

                        <div class="col-sm-4 form-group"></div>
                        <div class="col-sm-4 form-group"></div>
                    </div>*@
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Alergias, htmlAttributes: new { @class = "control-label" })
                            <br />
                            @Html.TextAreaFor(model => model.Alergias, new { htmlAttributes = new { @class = "md-textarea form-control" }, rows = 3, cols = 45 })
                            @Html.ValidationMessageFor(model => model.Alergias, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-4 form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label" })
                            <br />
                            @Html.TextAreaFor(model => model.Observaciones, new { htmlAttributes = new { @class = "md-textarea form-control" }, rows = 3, cols = 45 })
                            @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-4 form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.NotasCliente, htmlAttributes: new { @class = "control-label" })
                            <br />
                            @Html.TextAreaFor(model => model.NotasCliente, new { htmlAttributes = new { @class = "md-textarea form-control" }, rows = 3, cols = 45 })
                            @Html.ValidationMessageFor(model => model.NotasCliente, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>


            @*<div class="form-group">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-4">
                            <input type="submit" value="Crear" class="btn btn-default" />
                        </div>
                        <div class="col-md-offset-2 col-md-4">
                            <input type="submit" value="Agregar servicio" class="btn btn-secondary" />
                        </div>
                    </div>
                </div>*@


            @*//Detalle reserva//*@

            <div class="details">
                <h2>
                    Detalle de reserva
                </h2>
                <table class="table table-responsive">
                    <tr>
                        <td>Huésped</td>
                        <td>Fecha y Hora</td>
                        <td>Servicio/Terapia</td>
                        <td>Precio</td>
                        <td>Terapeuta</td>
                        <td>Sala</td>
                        <td>Notas</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="mycontainer" id="mainrow">
                        <td>
                            <input type="text" id="NombreHuesped" class="hn form-control" />
                            <span class="error">Nombre del huesped que se atendera</span>
                        </td>
                        <td>
                            <input type="datetime-local" id="fechahora" class="fh form-control" required />
                            <span class="error">Ingrese fecha</span>
                        </td>
                        <td>
                            <select id="Servicios" class="servicios form-control">
                                <option>Seleccione una opción</option>
                            </select>
                            <span class="error">Seleccione una categoria</span>
                        </td>
                        <td>
                            <input type="text" id="Precio" class="precio form-control" disabled="disabled" />
                            <span class="error">El Campo no puede ser nulo</span>
                        </td>
                        <td>
                            <select id="Terapeutas" class="terapeutas form-control">
                                <option>Seleccione una opción</option>
                            </select>
                            <span class="error">Seleccione una categoria</span>
                        </td>
                        <td>
                            <select id="Salas" class="salas form-control">
                                <option>Seleccione una opción</option>
                            </select>
                            <span class="error">Seleccione una categoria</span>
                        </td>
                        <td>
                            <textarea cols="30" rows="1" id="Notas" class="notas md-textarea form-control"></textarea>
                            <span class="error">Notas del huesped que se atendera</span>
                        </td>
                        <td>
                            <input type="button" id="Agregar" value="Agregar" style="width:80px" class="btn btn-success" />
                        </td>
                    </tr>
                </table>

                <div id="orderItems">
                    <table class="table table-responsive" id="orderdetailsItems"></table>
                    <span id="SpanItemError" style="color:red"></span>
                </div>

                <div style="padding:10px 0; text-align:right">
                    <label>TOTAL RESERVA </label><input type="text" id="TotalReserva" readonly="readonly" />
                </div>

                <div style="padding:10px 0; text-align:right">
                    <input id="submit" type="button" value="Crear reserva" class="btn btn-warning" style="padding:10px 20px" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Regresar atrás", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <script>
            $('#Nombre').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        async: true,
                        url: "/TOUR_Encabezado_Reserva/ObtenerReservaciones",
                        datatype: "json",
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            if (data.length > 0) {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.huesped,
                                        id: item.id,
                                        huesped: item.label,
                                        checkin: item.checkin,
                                        checkout: item.checkout,
                                        room: item.room,
                                        email: item.email
                                    }
                                }))
                            }
                            else {
                                response([{ label: '-SIN COINCIDENCIAS-', id: '-1' }]);
                            }
                        },
                        messages: {
                            noResults: '', results: function () { }
                        },
                    })
                },
                select: function (event, ui) {
                    //$('#idProd').val(ui.item.id);
                    $("#ReservaOpera").val(ui.item.huesped);
                    $("#NomHuesped").val(ui.item.label);
                    $("#Checkout").val(new Date(ui.item.checkout).toLocaleDateString());
                    $("#Checkin").val(ui.item.checkin);
                    $("#Checkout").val(ui.item.checkout);
                    $("#NumRoom").val(ui.item.room);
                    $("#Email").val(ui.item.email);

                }
            });
        </script>
        <script src="~/Scripts/Detail.js"></script>
        @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
        @*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />*@
        @*<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@

    }
</div>


