@model IEnumerable<ConciergeV1.Models.SPA_Encabezado_Reserva>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReservaOpera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomHuesped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumRoom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Checkin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Checkout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FecReg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsrReg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alergias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotasCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPA_Detalle_Reserva.CodSer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReservaOpera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomHuesped)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumRoom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Checkin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Checkout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FecReg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsrReg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alergias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotasCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPA_Detalle_Reserva.CodSer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CodReserva }) |
            @Html.ActionLink("Details", "Details", new { id=item.CodReserva }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CodReserva })
        </td>
    </tr>
}

</table>
