@model IEnumerable<ConciergeV2.Models.SPA_Servicios>

@{
    ViewBag.Title = "Index";
}

<h2>Servicio spa</h2>

<p>
    @Html.ActionLink("Agregar nuevo registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomSer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesSer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DurSer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreSer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomSer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesSer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DurSer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreSer)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CodSer.Trim() }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.CodSer.Trim() }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.CodSer.Trim() })
        </td>
    </tr>
}

</table>
