@model IEnumerable<ConciergeV1.Models.Tran_Pick_Drop>

@{
    ViewBag.Title = "Index";
}

<h2>Pick Drop</h2>

<p>
    @Html.ActionLink("Agregar nuevo registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Descripción")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DesPick)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CodPick }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.CodPick }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.CodPick })
        </td>
    </tr>
}

</table>
