@model IEnumerable<ConciergeV2.Models.TOUR_Catalogo_Tour>

@{
    ViewBag.Title = "Index";
}

<h2>Catalogo tour</h2>

<p>
    @Html.ActionLink("Agregar nuevo registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DurTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreTourAdulto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOUR_Operadores.NomCom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomTour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesTour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DurTour)
        </td>
        <td>
            $ @Html.DisplayFor(modelItem => item.PreTourAdulto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOUR_Operadores.NomCom)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CodTour }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.CodTour }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.CodTour })
        </td>
    </tr>
}

</table>
