@model ConciergeV2.Models.SPA_Detalle_Reserva

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>

<div>
    <h4>Detalle reserva spa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numreg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numreg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FecHoraRes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FecHoraRes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomHues)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomHues)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPA_Encabezado_Reserva.ReservaOpera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPA_Encabezado_Reserva.ReservaOpera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPA_Salas.DesSala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPA_Salas.DesSala)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPA_Servicios.NomSer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPA_Servicios.NomSer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPA_Terapeutas.NomTerap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPA_Terapeutas.NomTerap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CodReserva }) |
    @Html.ActionLink("Regresar atrás", "Index")
</p>
