@model ConciergeV2.Models.TOUR_Operadores

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>

<div>
    <h4>Operador tour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomCom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomCom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelCom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelCom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmaCom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmaCom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacto1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telcon1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telcon1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmaCon1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmaCon1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacto2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telcon2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telcon2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emacon2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emacon2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CodCom }) |
    @Html.ActionLink("Regresar atrás", "Index")
</p>
