@model IEnumerable<ConciergeV2.Models.TOUR_Operadores>

@{
    ViewBag.Title = "Index";
}

<h2>Operador tour</h2>

<p>
    @Html.ActionLink("Crear nuevo registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomCom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelCom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmaCom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomCom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelCom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmaCom)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CodCom }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.CodCom }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.CodCom })
        </td>
    </tr>
}

</table>
