@model ConciergeV2.Models.User

@{
    ViewBag.Title = "Create";
}

<div class="content-header">
<h2>Nuevo registro</h2>
</div>

<div class="content container-fluid">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>User</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                <br />
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Usuario, htmlAttributes: new { @class = "control-label" })
                <br />
                @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                <br />
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.Label("Repetir contraseña", htmlAttributes: new { @class = "control-label" })
                <br />
                <input class="form-control text-box single-line password" data-val="true" data-val-required="El campo Contraseña es obligatorio." id="PasswordConfirm" name="PasswordConfirm" type="password">
                @*@Html.Password("PasswordConfirm", new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessage("ConfirmPassword", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label" })
                <br />
                @Html.EditorFor(model => model.Activo)
                @Html.ValidationMessageFor(model => model.Activo, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Nivel, htmlAttributes: new { @class = "control-label" })
                <br />
                @Html.EditorFor(model => model.Nivel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nivel, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Crear" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

<div>
    @Html.ActionLink("Regresar atrás", "Index")
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>